.card {
    width: 216px;
    min-width: 216px;
    @media (max-width: 767px) {
        width: 160px;
        min-width: 160px;
    }
}
.image {
    position: relative;
    aspect-ratio: 3/4;
    overflow: hidden;
    border-radius: 16px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.content {
    padding: 8px;
}

.name {
    font-size: 17px;
    font-weight: 600;
    margin: 0;
}
.details {
    color: var(--grey-color);
    font-size: 15px;
}

.label {
    position: absolute;
    top: 16px;
    left: 16px;
    padding: 6px 12px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 13px;
    color: var(--grey-color);
    z-index: 10;
    backdrop-filter: blur(10px);
    font-weight: 500;
}

.save {
    position: absolute;
    top: 12px;
    right: 12px;
    appearance: none;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.rating {
    background-image: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="16" height="16" rx="3" fill="%23FDDB32"/><path d="M4.88954 12.8887V11.3364C4.88954 11.21 4.79114 11.1117 4.66469 11.1117H3.11176C2.98528 11.1117 2.8869 11.21 2.8869 11.3364V12.8887C2.8869 13.0151 2.98528 13.1135 3.11176 13.1135H4.66469C4.79114 13.1135 4.88954 13.0151 4.88954 12.8887Z" fill="%23191E3B"/><path d="M13.1196 11.5538V3.90501C13.1196 3.33605 12.6628 2.87952 12.0936 2.87952H4.44146C4.28687 2.87952 4.19553 2.93573 4.09716 3.03404L2.57235 4.57223C2.45992 4.68461 2.53721 4.85319 2.70586 4.85319H9.62726L5.33387 9.14466C5.25657 9.22192 5.22144 9.29918 5.22144 9.42562V10.5565C5.22144 10.6899 5.31281 10.7812 5.44629 10.7812H6.57762C6.71111 10.7812 6.7884 10.7461 6.85866 10.6688L11.1521 6.37732V13.2957C11.1521 13.4642 11.3207 13.5415 11.4331 13.4291L12.972 11.898C13.0633 11.7996 13.1196 11.7083 13.1196 11.5538Z" fill="%23191E3B"/></svg>');
    background-position: 0 50%;
    background-repeat: no-repeat;
    padding-left: 20px;
    font-size: 13px;
    font-weight: 600;
}
