.holder {
    position: relative;
    padding-left: 48px;
    margin-bottom: 16px;
}

.image {
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    left: 0;
    top: 8px;
}

.title {
    display: block;
    font-weight: 600;
}

.info {
    font-size: 15px;
    color: var(--grey-color);
    display: block;
}
