.container {
    padding: 24px 0;
    @media (max-width: 767px) {
        padding: 16px 0;
    }
}

.title {
    margin: 0 0 24px;
    @media (max-width: 767px) {
        margin-bottom: 16px;
    }
}

.box {
    display: flex;
    padding: 24px;
    gap: 16px;
    border-radius: 16px;
    background: var(--card-background);
    box-shadow: 0px 2px 3px 0px rgba(220, 227, 246, 0.5),
        0px 0px 0px 0.5px rgba(204, 215, 241, 1);

    @media (max-width: 767px) {
        padding: 16px;
        flex-wrap: wrap;
    }
}

.input {
    border: 1px solid var(--border-color);
    padding: 12px 16px;
    border-radius: 8px;
    color: var(--grey-color);
}

.passengers {
    width: 70px;
    padding-left: 40px;
    padding-right: 5px;
    background: white
        url('data:image/svg+xml,<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 20.092C12.9051 16.3215 19.0949 16.3215 23 20.092V22.6667H9V20.092Z" fill="black"/><path d="M19.3333 12.3333C19.3333 14.1743 17.8409 15.6667 16 15.6667C14.159 15.6667 12.6667 14.1743 12.6667 12.3333C12.6667 10.4924 14.159 9 16 9C17.8409 9 19.3333 10.4924 19.3333 12.3333Z" fill="black"/></svg>')
        no-repeat;
    background-position: 4px 4px;
}

.datepicker {
    width: 160px;
    padding-left: 40px;
    padding-right: 5px;
    background: white
        url('data:image/svg+xml,<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path fillRule="evenodd" clipRule="evenodd" d="M12.875 8H10.625V9.5H10.25C9.00736 9.5 8 10.5074 8 11.75V22V24H10H22.5H24.5V22V11.75C24.5 10.5074 23.4926 9.5 22.25 9.5H21.875V8H19.625V9.5H12.875V8ZM10.25 11.5H22.25C22.3881 11.5 22.5 11.6119 22.5 11.75V22H10V11.75C10 11.6119 10.1119 11.5 10.25 11.5ZM11.375 13.625H13.625V15.875H11.375V13.625ZM11.375 17.375H13.625V19.625H11.375V17.375ZM17.375 13.625H15.125V15.875H17.375V13.625ZM15.125 17.375H17.375V19.625H15.125V17.375ZM21.125 13.625H18.875V15.875H21.125V13.625Z" fill="black"/></svg>')
        no-repeat;
    background-position: 4px 4px;
}

.group {
    flex: 1;
    display: flex;
    align-items: center;
    .input {
        width: 100%;
    }
    svg {
        min-width: 32px;
        margin: 0 4px;
    }
    @media (max-width: 767px) {
        flex-basis: 100%;
    }
}
